name: Build Android APK

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch: # This allows you to manually trigger a build later if needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Debug APK
      run: ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: PDF-Copier-APK
        path: app/build/outputs/apk/debug/app-debug.apk
